body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000000;
}

/* header */

header {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 25px 105px;
}

.logo {
    line-height: 3px;
    color: #cb53c2;
}

.title {
    text-decoration: underline 1px #05fe06;
    font-size: 40px;
}

.sub-title {
    font-size: 20px;
    color: #cb53c2;
}

input {
    border: none;
    border-bottom: 1px solid #05fe06;
    width: 165px;
    background-color: transparent;
}

input:focus {
    outline: none; /* Remove the outline/border */
}


::placeholder {
    color: #cb53c2;
    font-size: 13px;
}

.search-icon {
    font-size: 13px;
    color: #05fe06;
}

/*Web description*/
.description-container {
    color: #cb53c2;
    text-align: center;
    padding: 10px;
    margin-top: 55px;
}

.description {
color: #cb53c2;
font-size: 15px;
}

/* Responsive */
@media screen and (max-width: 800px) {
    header {
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 25px 0 0 0;
    }

    .title {
        font-size: 30px;
        text-decoration: none;
    }

    .sub-title {
        font-size: 1.2em;
    }

    input {
        font-size: 10px;
        width: 127px;
    }

    ::placeholder {
        font-size: 10px;
    }

    .search-icon {
        font-size: 10px;
    }
}