body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: "Pixelify Sans", sans-serif;
    color: #cb53c2;
}

/* header bar */
header {
    background-color: gray;
    box-sizing: border-box;
    padding: 15px;

}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    line-height: 2px;
}

.title {
    font-size: 50px;
    margin-bottom: 15px; /* Cambiar el margen */
}

.back-bottom, a {
    color: #05fe06;
    text-decoration: none; 
    font-size: 30px; 
}